.rodape {
    display: flex;
    height: 15vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.logo {
    height: 80px;
    width: 80px;
    padding: 5px;
}